
NET "I0" LOC = P11;
NET "I1" LOC = L3;
NET "I2" LOC = K3;
NET "I3" LOC = B4;
NET "E" LOC = G3;
NET "AN_0" LOC = K14;
NET "AN_1" LOC = M13;
NET "AN_2" LOC = J12;
NET "AN_3" LOC = F12;
NET "SA" LOC = L14;
NET "SB" LOC = H12;
NET "SC" LOC = N14;
NET "SD" LOC = N11;
NET "SE" LOC = P12;
NET "SF" LOC = L13;
NET "SG" LOC = M12;

NET "SEG_DT" LOC = N13;

